    {{ form_start(form) }}
    <div>
        {{ form_label(form.searchTerm) }}
        {{ form_errors(form.searchTerm) }}
        {{ form_widget(form.searchTerm) }}
    </div>
    <div>
        {{ form_label(form.type) }}
        {{ form_errors(form.type) }}
        {{ form_widget(form.type) }}
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
